<!DOCTYPE html>
<html>
	<head>
		<title>Weather</title>
		<link href="assets/stylesPost.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="card">
			<div class="head">
				<h2>Weather App</h2>
			</div>
			<div class="Temperature">
				<p class="result">Temperature: <%=temp %> Celcius</p>
			</div>
		</div>
	</body>
</html>