<!DOCTYPE html>
<html>
	<head>
		<title>Weather</title>
		<link href="assets/styles.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<h1>WELCOME TO WEATHER APP</h1>
		<div class="card">
			<div class="head">
				<h2>WEATHER APP</h2>
			</div>
			<div class="WeatherForm">
				<form name="weather" method="POST" action="/weatherSuccess">
					<input type="text" class="cityName" name="cityName" placeholder="Enter a city name..."/>
					<input class="myButton" type="submit" value="Search">
				</form>
			</div>
		</div>
	</body>
</html>